body{
    background-color: #007ea5;
}
.first-logo {
    background-image: url(/home/shachar/SchoolProjects/htmlAndCss/img/FIRSTWordMark_Black.gif);
    width: 384;
    height: 100px;
    margin: 0 auto;
}
.root{
    width: 650px;
    height: 850px;
    padding-top: 45px;
    padding-bottom: 45px;
    margin: 50px auto; 
    background-color: #efefef;
    border-radius: 50px;

}
.container {
    padding-top: 40px;
    width: 600px;
    height: 500px;
    padding: 20px;
    padding-top: 20px;
    margin: 10 auto;
}
.container label {
    display: inline-block;
    /* width: 100px; */
    text-align: left;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: tahoma;
}
.container label::after {
    content: ":";
}

.root h3::after {
    content: ":";
}

.root h3 {
    font-weight: lighter; 
    font-size: 2.5em;
    text-align: center;
}

.container input, select {
    width: 100%;
    border-radius: 5px;
    height: 32px;
    /* clear: both; */
}
.container input::placeholder{
    font-family: tahoma;
}
.button{
    background-color: #1f6aa8;
    color: #ffffff;
    border-radius: 10px !important;
    margin-top: 40px;
    height: 40px !important; 
    width: 150px !important;
    font-weight: bolder;
    font-family: tahoma;    
    font-size: 1.1em;
}
.register-button{
    float: left;
}

.clear-button{
    float: right;
}