body{
  background-color: #efefef;
  
}
div.menuBar {
  width: 90%;
  padding: 10px;
  background-color: #007ea5;
  height: 285px;
  padding-top: 108px;
  margin: 190 auto;
  border-radius: 40px;
}
div.menuBarOption {
  background-color: #efefef;
  width: 350px;
  height: 100px;
  border: solid;
  border-width: 1px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 17px;
  margin-left: 15px;
  float: right;
  padding-top: 50px;
}
div.menuBarOptionRight {
  margin-right: 115px;
}
label {
  font-family: tahoma;
  font-size: 40px;
  font-weight: lighter;
}
