/* general */
body {
  background-color: #007ea5;
  margin: 0, auto;
  font-family: tahoma;
}
.menuBar {
  width: 85%;
  padding: 10px;
  background-color: #e4dede;
  height: 60px;
  padding-top: 20px;
  margin: 10px auto;
  margin-bottom: 50px;  
  border-radius: 40px;
}
.menuBarOption {
  background-color: #bbb9b9;
  width: 240px;
  height: 30px;
  text-align: center;
  border-radius: 17px;
  margin-left: 70px;
  float: right;
  padding-top: 15px;
  padding-bottom: 7px;
  font-size: 1.4em;
}
.menuBarOptionRight {
  margin-right: 360px;
}
hr{
  position: relative;
  width: 97%
}
a {
  text-decoration-line: none;
  color: black;
}
a:hover {
  text-decoration-line: underline;
  color: #007ea5;
}
.container {
  border-radius: 15px;
  margin: 0 auto;
  width: 1200px;
  padding: 30px;
  background-color: #efefef;
}
tr {
  border-radius: 15px;
  height: 50px;
  background-color: #d6d6d6;
}
td {
  border-radius: 15px;
  border: 2px solid #efefef;
  text-align: center;
}
.user_row {
  height: 200px;
}
.user_td {
  background-color: #bebdbd;
  height: 200px;
  padding: 15px;
}
div.profile_photo {
  position: relative;
  width: 150px !important;
  float: right;
}
div.small_font{
  position: relative;
  margin: 3px;
  margin-right: 0px;
  font-size: 0.95em;
}
div.big_font{
  position: relative;
  margin-bottom: 30px;
  font-size: 1.6em;
  text-align: right;
  font-weight: bold;
}
.date {
  position: relative;
  background-color: #bebdbd;
  float: left;
  text-align: left;
  width: 500px;
  padding-left: 10px;
  font-weight: bolder;
  font-size: 1.5em;
}
img{
  height: 150px;
  width: 150px;
}
.post{
  line-height: 1.8em;
  text-align: right;
  padding: 15px;
  padding-top: 4px;
}
div.post_name{
  position: relative;
  margin-right: 40px; 
  font-size: 1.6em;
  text-align: right;
}
.header {
  background-color: #9e9d9d;
  height: 20px;
  border-radius: 15px;
  padding-inline-start: 15px;
  text-align: right;
  font-weight: bold;
  font-size: 1.3em;
}
.button {
  background-color: #1f6aa8;
  color: white;
  border-radius: 10px !important;
  margin-top: 40px;
  height: 40px !important;
  width: 150px !important;
  font-weight: bolder;
  font-family: tahoma;
  font-size: 1.1em;
}
.send-button {
  float: left;
}

.clear-button {
  float: right;
}
input,
select {
  width: 100%;
  border-radius: 5px;
  height: 32px;
}
.user_info {
  background-color: #bebdbd;
  position: relative;
  width: 1200px;
  text-align: right;
  padding-right: 45px;
  float: right;
}
.panel{
  width: 760px;
  border-radius: 15px;
  background-color: #d6d6d6;
  margin: 0 auto;
  padding: 20px;
  text-align: right;
}
.panel_header{
  width: 760px !important;
  height: 45px !important;
  margin: 0 auto;
  text-align: right !important;
  padding: 20px;
  padding-bottom: 0px;
}
.spacer{
  height: 30px;
}
/* register */
.register .first-logo {
  background-image: url(./img/FIRSTWordMark_Black.gif);
  width: 384;
  height: 100px;
  margin: 0 auto;
}
.register .root {
  width: 650px;
  height: 850px;
  padding-top: 45px;
  padding-bottom: 45px;
  margin: 50px auto;
  background-color: #efefef;
  border-radius: 50px;
}
.register .container {
  padding-top: 40px;
  width: 600px;
  height: 500px;
  padding: 20px;
  padding-top: 20px;
  margin: 10 auto;
}
.register .container label {
  display: inline-block;
  text-align: left;
  font-weight: bold;
  padding-bottom: 15px;
  padding-top: 15px;
}
.register .container label::after {
  content: ":";
}

.register .root h3::after {
  content: ":";
}

.register .root h3 {
  font-weight: lighter;
  font-size: 2.5em;
  text-align: center;
}

.register .container input::placeholder {
  font-family: tahoma;
}

/*forum*/
.forum {
  padding: 30px;
}
.forum td.sub_topic {
  width: 600px;
  padding-inline-start: 25px;
  text-align: right;
}
.forum td.last_post {
  width: 400px;
}
/* menu */
.menu {
  background-color: #efefef;
}
.menu div.menuBar {
  width: 85%;
  padding: 10px;
  background-color: #007ea5;
  height: 285px;
  padding-top: 108px;
  margin: 190 auto;
  border-radius: 40px;
}
.menu div.menuBarOption {
  background-color: #bbb9b9;
  width: 350px;
  text-align: center;
  border-radius: 17px;
  margin-left: 15px;
  float: right;
  padding-top: 70px;
  padding-bottom: 70px;
}
.menu div.menuBarOptionRight {
  margin-right: 270px;
}
.menu label {
  font-size: 30px;
  font-weight: lighter;
}
/* users style */
.users .big_td{
  width: 200px;
}
.users .med_td{
  width: 100px;
}
.users .small_td{
  width: 80px;
}
.users .header{
  font-size: 1.09em;
  text-align: center;
}
.users table{
  width: 1500px;
}
.users tr.info_head{
  background-color: #efefef
}
.users .small_font{
  margin-bottom: 10px !important;
}