/* .container {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}
div.menuBar {
  width: 1090px;
  padding: 15px;
  margin: 0 auto;
} */
div {
  background-color: #efefef;
  width: 250px;
  border: solid;
  border-width: 1px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-top: 100px;
  float: right;
}
div.menuBarOptionRight {
    margin-right: 450px;
  }
