a{
  text-decoration-line: none;
  color: black;
}
body{
  background-color: #efefef;
  
}
div.menuBar {
  width: 90%;
  padding: 10px;
  background-color: #007ea5;
  height: 285px;
  padding-top: 108px;
  margin: 190 auto;
  border-radius: 40px;
}
div.menuBarOption {
  background-color: #efefef;
  width: 350px;
  text-align: center;
  border-radius: 17px;
  margin-left: 15px;
  float: right;
  padding-top: 70px;
  padding-bottom: 70PX;
}
div.menuBarOptionRight {
  margin-right: 115px;
}
label {
  font-family: tahoma;
  font-size: 30px;
  font-weight: lighter;
}
label:hover{
  font-size: 50px;
}

