.container {
  margin: 0, auto;
  border: solid;
  padding: 40px;
  background-color: #007ea5;
}
.container table.sub_container {
  border: solid;
  border-radius: 15px;
  margin: 0 auto;
  width: 1200px;
  background-color: #ededed;
  padding: 30px; 
}
.container tr.row {
  border-radius: 15px;
  height: 50px;
}
.container td.header {
  background-color: #9e9d9d;
  height: 20px;
  border-radius: 15px;
  padding-inline-start: 15px;
}
.container td.sub_topic {
  width: 600px;
  padding-inline-start: 25px;
}
.container td.last_post {
  width: 400px;
}
